<html>
    <head></head>
    <body>
        <p>Your Email:<%= body.email %></p>
        <p>Your Type:<%= body.type %></p>
        <p>Your City:<%= body.city %></p>
        <p>Your DOB:<%= body.dob %></p>
        <p>Your First Name:<%= body.firstname %></p>
        <p>Your Gender:<%= body.gender %></p>
        <p>Your Last Name:<%= body.lastname %></p>
        <p>Your PostCode:<%= body.postcode %></p>
        <p>Your Interest:<%= body.interest %></p>

    </body>
</html>